.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#joinBox {
    background-color: gray;
    width: 32vw;
    height: 15vh;
    bottom: 0;
    position: absolute;
    
}

#intro {
    top: 3%;
    left: 2.5%;
    color: aquamarine;
    position: absolute;
}

#jControls {
    top: 60%;
    left: 2.5%;
    position: absolute;
}

#controls {
    top: 85%;
    left: 50%;
    position: absolute;
    width: 45%;
    height: 15%;
}

#chatBox {
    background-image: url(imgs/galaxy.gif);
    width: 45vw;
    height: 40vh;
    bottom: 0;
    position: absolute;
}

#msgBox {
    background-color: dimgray;
    color: white; 
    border: none;
    width: 70%;
    left: 0%;
    top:0;
    position: absolute;
}

msgBox:focus {
    outline: none;
}


#nameBox {
    top: 0;
    width: 20vw;
    height: 40vh;
    background-color: aquamarine;
    opacity: 0.5;
}

#names {
    color: white;
    top: 3%;
    left: 2%;
    position: absolute;
}

#msgBtn {
    left: 74%;
    position: absolute;
}

#chatDisplay {
    color: white;
    text-align: left;
    height: 50%;
    width: 44%;
    top: 2%;
    left: 23%;
    position: absolute;
}